*{

}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}
.display_highscore {  text-align: left; 

}

.timer_display {
    text-align: right;

}

section {
    text-align: center;
}

.start_button { 
    background-color: blueviolet;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: large;
    line-height: 20px;
    max-width: 100px;
    padding: 5px 5px;
    justify-content: center;
    margin-inline: 504px;

}
 .start_button:hover {
    box-shadow: whitesmoke
    
 }
 
